{% extends 'base.html' %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <p>{{ field }}</p>
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button>Save</button>
</form>
{% endblock main %}